{% if user%}
<html lang="en">
<head>
    <title>Patient Information System</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/business-casual.css" rel="stylesheet">
</head>
<body>
    <div class="brand">Patient Information System</div>
    <div class="address-bar">PUP CEA Medical Clinic | 1st Floor, Gabriela Silang Hall | Sta. Mesa, Manila</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Patient Information System</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/patientlogs">Patient Log</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="{{ url|safe }}">{{url_linktext}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Patient Information Details
                    </h2>
                    <hr>
    <br>
    <br>
        {% for student in student%}
        {% if id == student.key.id()%}
        <div><h2><font face="Maiandra GD" size="6">{{student.PatientName}}</font></h2></div>
        <div><font face="Maiandra GD" size="4"><strong>Consultation Date:</strong> {{student.ConsultationDate}}</font></div>
        <div><font face="Maiandra GD" size="4"><strong>Doctor in-charge:</strong> {{student.Doctor}}</font></div>
        <div><font face="Maiandra GD" size="4"><strong>Nurse in-charge:</strong> Bachelor of Science in {{student.Nurse}}</font></div>
        <div><font face="Maiandra GD" size="4"><strong>Concern:</strong> {{student.Concern}}</font></div>
        {% endif %}
        {% endfor %}
  </div>
            </div>
        </div>

    </div>-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Patient Information System 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>

{% else%}


<html lang="en">
<head>
     <title>Patient Information System</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/business-casual.css" rel="stylesheet">
</head>
<body>
    <div class="brand">Patient Information System</div>
    <div class="address-bar">PUP CEA Medical Clinic | 1st Floor, Gabriela Silang Hall | Sta. Mesa, Manila</div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Patient Information System</a>
            </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Thank You for using</small>
                    </h2>
                    <h1 class="brand-name">Patient Information System</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <a href="{{ url|safe }}"><strong>{{url_linktext}}</strong></a>
                            to continue.
                        </small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Patient Information System 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
{% endif%}